In [5]:
import polars as pl 
import datetime as dt 

df = pl.DataFrame(
    {
        "name": ["Dupe Olaiya", "Ola Allison", "Chloe Joseph", "Daniel Bwala"],
        "birthdate": [
            dt.date(1997, 1, 10),
            dt.date(1985, 2, 15),
            dt.date(1983, 3, 22),
            dt.date(1981, 4, 30),
        ],
        "weight": [57.9, 72.5, 53.6, 83.1],  # (kg)
        "height": [1.56, 1.77, 1.65, 1.75],  # (m)
    }
)

print(df)

shape: (4, 4)
┌──────────────┬────────────┬────────┬────────┐
│ name         ┆ birthdate  ┆ weight ┆ height │
│ ---          ┆ ---        ┆ ---    ┆ ---    │
│ str          ┆ date       ┆ f64    ┆ f64    │
╞══════════════╪════════════╪════════╪════════╡
│ Dupe Olaiya  ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ola Allison  ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Joseph ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Bwala ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└──────────────┴────────────┴────────┴────────┘

In [8]:
df_csv = pl.read_csv("C:/Users/AbiodunAdewale/african_countries.csv", try_parse_dates=True)
print(df_csv)

shape: (53, 4)
┌──────┬──────────────────┬───────────┬───────────┐
│ Year ┆ Country          ┆ Continent ┆ Emission  │
│ ---  ┆ ---              ┆ ---       ┆ ---       │
│ i64  ┆ str              ┆ str       ┆ f64       │
╞══════╪══════════════════╪═══════════╪═══════════╡
│ 2010 ┆ Angola           ┆ Africa    ┆ 1.401654  │
│ 2010 ┆ Burundi          ┆ Africa    ┆ 0.020542  │
│ 2010 ┆ Benin            ┆ Africa    ┆ 0.541771  │
│ 2010 ┆ Burkina Faso     ┆ Africa    ┆ 0.1076731 │
│ 2010 ┆ Botswana         ┆ Africa    ┆ 2.555293  │
│ …    ┆ …                ┆ …         ┆ …         │
│ 2010 ┆ Uganda           ┆ Africa    ┆ 0.108297  │
│ 2010 ┆ South Africa     ┆ Africa    ┆ 8.957154  │
│ 2010 ┆ Dem Rep Of Congo ┆ Africa    ┆ 0.049328  │
│ 2010 ┆ Zambia           ┆ Africa    ┆ 0.192079  │
│ 2010 ┆ Zimbabwe         ┆ Africa    ┆ 0.646073  │
└──────┴──────────────────┴───────────┴───────────┘

In [45]:
print(df_csv.describe())

shape: (9, 5)
┌────────────┬──────────────┬─────────────────────┬───────────┬──────────┐
│ statistic  ┆ name         ┆ birthdate           ┆ weight    ┆ height   │
│ ---        ┆ ---          ┆ ---                 ┆ ---       ┆ ---      │
│ str        ┆ str          ┆ str                 ┆ f64       ┆ f64      │
╞════════════╪══════════════╪═════════════════════╪═══════════╪══════════╡
│ count      ┆ 4            ┆ 4                   ┆ 4.0       ┆ 4.0      │
│ null_count ┆ 0            ┆ 0                   ┆ 0.0       ┆ 0.0      │
│ mean       ┆ null         ┆ 1986-09-04 00:00:00 ┆ 66.775    ┆ 1.6825   │
│ std        ┆ null         ┆ null                ┆ 13.560082 ┆ 0.097082 │
│ min        ┆ Chloe Joseph ┆ 1981-04-30          ┆ 53.6      ┆ 1.56     │
│ 25%        ┆ null         ┆ 1983-03-22          ┆ 57.9      ┆ 1.65     │
│ 50%        ┆ null         ┆ 1985-02-15          ┆ 72.5      ┆ 1.75     │
│ 75%        ┆ null         ┆ 1985-02-15          ┆ 72.5      ┆ 1.75     │
│ max        ┆ Ola Allison  ┆ 1997-01-10          ┆ 83.1      ┆ 1.77     │
└────────────┴──────────────┴─────────────────────┴───────────┴──────────┘

In [13]:
(pl.col('Emission') ** 2) 
print(pl.col)

<polars.functions.col.Col object at 0x0000017A997CBBD0>

In [16]:
df_csv_us = pl.read_csv("C:/Personal Working folder/us_countries_2010.csv", try_parse_dates=True)
print(df_csv_us)

shape: (3_143, 11)
┌───────────────────┬────────┬────────┬────────┬───┬─────────────┬────────────┬────────┬────────┐
│ NAME              ┆ STUSAB ┆ SUMLEV ┆ REGION ┆ … ┆ AREALAND    ┆ AREAWATR   ┆ POP100 ┆ HU100  │
│ ---               ┆ ---    ┆ ---    ┆ ---    ┆   ┆ ---         ┆ ---        ┆ ---    ┆ ---    │
│ str               ┆ str    ┆ i64    ┆ i64    ┆   ┆ i64         ┆ i64        ┆ i64    ┆ i64    │
╞═══════════════════╪════════╪════════╪════════╪═══╪═════════════╪════════════╪════════╪════════╡
│ Autauga County    ┆ AL     ┆ 50     ┆ 3      ┆ … ┆ 1539582278  ┆ 25775735   ┆ 54571  ┆ 22135  │
│ Baldwin County    ┆ AL     ┆ 50     ┆ 3      ┆ … ┆ 4117521611  ┆ 1133190229 ┆ 182265 ┆ 104061 │
│ Barbour County    ┆ AL     ┆ 50     ┆ 3      ┆ … ┆ 2291818968  ┆ 50864716   ┆ 27457  ┆ 11829  │
│ Bibb County       ┆ AL     ┆ 50     ┆ 3      ┆ … ┆ 1612480789  ┆ 9289057    ┆ 22915  ┆ 8981   │
│ Blount County     ┆ AL     ┆ 50     ┆ 3      ┆ … ┆ 1669961855  ┆ 15157440   ┆ 57322  ┆ 23887  │
│ …                 ┆ …      ┆ …      ┆ …      ┆ … ┆ …           ┆ …          ┆ …      ┆ …      │
│ Sweetwater County ┆ WY     ┆ 50     ┆ 4      ┆ … ┆ 27004896786 ┆ 166887494  ┆ 43806  ┆ 18735  │
│ Teton County      ┆ WY     ┆ 50     ┆ 4      ┆ … ┆ 10347983791 ┆ 572265729  ┆ 21294  ┆ 12813  │
│ Uinta County      ┆ WY     ┆ 50     ┆ 4      ┆ … ┆ 5390449560  ┆ 16341665   ┆ 21118  ┆ 8713   │
│ Washakie County   ┆ WY     ┆ 50     ┆ 4      ┆ … ┆ 5797814617  ┆ 10762355   ┆ 8533   ┆ 3833   │
│ Weston County     ┆ WY     ┆ 50     ┆ 4      ┆ … ┆ 6211020805  ┆ 5001695    ┆ 7208   ┆ 3533   │
└───────────────────┴────────┴────────┴────────┴───┴─────────────┴────────────┴────────┴────────┘

In [17]:
pl.col("SUMLEV") / (pl.col("REGION") ** 2)

In [18]:
pl.col("YEAR") / (pl.col("Emission") ** 2)

In [20]:
df.write_csv("C:/Personal Working folder/output.csv")

In [21]:
df_csv = pl.read_csv("C:/Personal Working folder/output.csv", try_parse_dates=True)
print(df_csv)

shape: (4, 4)
┌──────────────┬────────────┬────────┬────────┐
│ name         ┆ birthdate  ┆ weight ┆ height │
│ ---          ┆ ---        ┆ ---    ┆ ---    │
│ str          ┆ date       ┆ f64    ┆ f64    │
╞══════════════╪════════════╪════════╪════════╡
│ Dupe Olaiya  ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ola Allison  ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Joseph ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Bwala ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└──────────────┴────────────┴────────┴────────┘

In [22]:
pl.col('weight') / (pl.col('height') ** 2)

In [23]:
result = df.select(
    pl.col("name"),
    pl.col("birthdate").dt.year().alias("birth_year"),
    (pl.col("weight") / (pl.col("height") ** 2)).alias("bmi"),
)
print(result)

shape: (4, 3)
┌──────────────┬────────────┬───────────┐
│ name         ┆ birth_year ┆ bmi       │
│ ---          ┆ ---        ┆ ---       │
│ str          ┆ i32        ┆ f64       │
╞══════════════╪════════════╪═══════════╡
│ Dupe Olaiya  ┆ 1997       ┆ 23.791913 │
│ Ola Allison  ┆ 1985       ┆ 23.141498 │
│ Chloe Joseph ┆ 1983       ┆ 19.687787 │
│ Daniel Bwala ┆ 1981       ┆ 27.134694 │
└──────────────┴────────────┴───────────┘

In [24]:
result = df.select(
    pl.col("name"),
    (pl.col("weight", "height") * 0.95).round(2).name.suffix("-5%"),
)
print(result)

shape: (4, 3)
┌──────────────┬───────────┬───────────┐
│ name         ┆ weight-5% ┆ height-5% │
│ ---          ┆ ---       ┆ ---       │
│ str          ┆ f64       ┆ f64       │
╞══════════════╪═══════════╪═══════════╡
│ Dupe Olaiya  ┆ 55.01     ┆ 1.48      │
│ Ola Allison  ┆ 68.88     ┆ 1.68      │
│ Chloe Joseph ┆ 50.92     ┆ 1.57      │
│ Daniel Bwala ┆ 78.94     ┆ 1.66      │
└──────────────┴───────────┴───────────┘

In [25]:
result = df.with_columns(
    birth_year=pl.col("birthdate").dt.year(),
    bmi=pl.col("weight") / (pl.col("height") ** 2),
)
print(result)

shape: (4, 6)
┌──────────────┬────────────┬────────┬────────┬────────────┬───────────┐
│ name         ┆ birthdate  ┆ weight ┆ height ┆ birth_year ┆ bmi       │
│ ---          ┆ ---        ┆ ---    ┆ ---    ┆ ---        ┆ ---       │
│ str          ┆ date       ┆ f64    ┆ f64    ┆ i32        ┆ f64       │
╞══════════════╪════════════╪════════╪════════╪════════════╪═══════════╡
│ Dupe Olaiya  ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   ┆ 1997       ┆ 23.791913 │
│ Ola Allison  ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ 1985       ┆ 23.141498 │
│ Chloe Joseph ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   ┆ 1983       ┆ 19.687787 │
│ Daniel Bwala ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   ┆ 1981       ┆ 27.134694 │
└──────────────┴────────────┴────────┴────────┴────────────┴───────────┘

In [26]:
result = df.filter(pl.col("birthdate").dt.year() < 1990)
print(result)

shape: (3, 4)
┌──────────────┬────────────┬────────┬────────┐
│ name         ┆ birthdate  ┆ weight ┆ height │
│ ---          ┆ ---        ┆ ---    ┆ ---    │
│ str          ┆ date       ┆ f64    ┆ f64    │
╞══════════════╪════════════╪════════╪════════╡
│ Ola Allison  ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Joseph ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Bwala ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└──────────────┴────────────┴────────┴────────┘

In [27]:
result = df.filter(
    pl.col("birthdate").is_between(dt.date(1982, 12, 31), dt.date(1996, 1, 1)),
    pl.col("height") > 1.7,
)
print(result)

shape: (1, 4)
┌─────────────┬────────────┬────────┬────────┐
│ name        ┆ birthdate  ┆ weight ┆ height │
│ ---         ┆ ---        ┆ ---    ┆ ---    │
│ str         ┆ date       ┆ f64    ┆ f64    │
╞═════════════╪════════════╪════════╪════════╡
│ Ola Allison ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
└─────────────┴────────────┴────────┴────────┘

In [28]:
result = df.group_by(
    (pl.col("birthdate").dt.year() // 10 * 10).alias("decade"),
    maintain_order=True,
).len()
print(result)

shape: (2, 2)
┌────────┬─────┐
│ decade ┆ len │
│ ---    ┆ --- │
│ i32    ┆ u32 │
╞════════╪═════╡
│ 1990   ┆ 1   │
│ 1980   ┆ 3   │
└────────┴─────┘

In [29]:
result = df.group_by(
    (pl.col("birthdate").dt.year() // 10 * 10).alias("decade"),
    maintain_order=True,
).agg(
    pl.len().alias("sample_size"),
    pl.col("weight").mean().round(2).alias("avg_weight"),
    pl.col("height").max().alias("tallest"),
)
print(result)

shape: (2, 4)
┌────────┬─────────────┬────────────┬─────────┐
│ decade ┆ sample_size ┆ avg_weight ┆ tallest │
│ ---    ┆ ---         ┆ ---        ┆ ---     │
│ i32    ┆ u32         ┆ f64        ┆ f64     │
╞════════╪═════════════╪════════════╪═════════╡
│ 1990   ┆ 1           ┆ 57.9       ┆ 1.56    │
│ 1980   ┆ 3           ┆ 69.73      ┆ 1.77    │
└────────┴─────────────┴────────────┴─────────┘

In [30]:
result = (
    df.with_columns(
        (pl.col("birthdate").dt.year() // 10 * 10).alias("decade"),
        pl.col("name").str.split(by=" ").list.first(),
    )
    .select(
        pl.all().exclude("birthdate"),
    )
    .group_by(
        pl.col("decade"),
        maintain_order=True,
    )
    .agg(
        pl.col("name"),
        pl.col("weight", "height").mean().round(2).name.prefix("avg_"),
    )
)
print(result)

shape: (2, 4)
┌────────┬────────────────────────────┬────────────┬────────────┐
│ decade ┆ name                       ┆ avg_weight ┆ avg_height │
│ ---    ┆ ---                        ┆ ---        ┆ ---        │
│ i32    ┆ list[str]                  ┆ f64        ┆ f64        │
╞════════╪════════════════════════════╪════════════╪════════════╡
│ 1990   ┆ ["Dupe"]                   ┆ 57.9       ┆ 1.56       │
│ 1980   ┆ ["Ola", "Chloe", "Daniel"] ┆ 69.73      ┆ 1.72       │
└────────┴────────────────────────────┴────────────┴────────────┘

In [31]:
df2 = pl.DataFrame(
    {
        "name": ["Dupe Olaiya", "Daniel Bwala", "Ola Allison", "Chloe Joseph"],
        "parent": [True, False, False, False],
        "siblings": [1, 2, 3, 4],
    }
)

print(df.join(df2, on="name", how="left"))

shape: (4, 6)
┌──────────────┬────────────┬────────┬────────┬────────┬──────────┐
│ name         ┆ birthdate  ┆ weight ┆ height ┆ parent ┆ siblings │
│ ---          ┆ ---        ┆ ---    ┆ ---    ┆ ---    ┆ ---      │
│ str          ┆ date       ┆ f64    ┆ f64    ┆ bool   ┆ i64      │
╞══════════════╪════════════╪════════╪════════╪════════╪══════════╡
│ Dupe Olaiya  ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   ┆ true   ┆ 1        │
│ Ola Allison  ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ false  ┆ 3        │
│ Chloe Joseph ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   ┆ false  ┆ 4        │
│ Daniel Bwala ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   ┆ false  ┆ 2        │
└──────────────┴────────────┴────────┴────────┴────────┴──────────┘

In [32]:
df3 = pl.DataFrame(
    {
        "name": ["Johnson Edwards", "Adam Smith", "Grace Moses", "Henry Ford"],
        "birthdate": [
            dt.date(1977, 5, 10),
            dt.date(1975, 6, 23),
            dt.date(1973, 7, 22),
            dt.date(1971, 8, 3),
        ],
        "weight": [67.9, 72.5, 57.6, 93.1],  # (kg)
        "height": [1.76, 1.6, 1.66, 1.8],  # (m)
    }
)

print(pl.concat([df, df3], how="vertical"))

shape: (8, 4)
┌─────────────────┬────────────┬────────┬────────┐
│ name            ┆ birthdate  ┆ weight ┆ height │
│ ---             ┆ ---        ┆ ---    ┆ ---    │
│ str             ┆ date       ┆ f64    ┆ f64    │
╞═════════════════╪════════════╪════════╪════════╡
│ Dupe Olaiya     ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ola Allison     ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Joseph    ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Bwala    ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
│ Johnson Edwards ┆ 1977-05-10 ┆ 67.9   ┆ 1.76   │
│ Adam Smith      ┆ 1975-06-23 ┆ 72.5   ┆ 1.6    │
│ Grace Moses     ┆ 1973-07-22 ┆ 57.6   ┆ 1.66   │
│ Henry Ford      ┆ 1971-08-03 ┆ 93.1   ┆ 1.8    │
└─────────────────┴────────────┴────────┴────────┘

# Data Types and Structures

In [34]:
s = pl.Series("ints", [1, 2, 3, 4, 5])
print(s)

shape: (5,)
Series: 'ints' [i64]
[
	1
	2
	3
	4
	5
]

In [35]:
s1 = pl.Series("ints", [1, 2, 3, 4, 5])
s2 = pl.Series("uints", [1, 2, 3, 4, 5], dtype=pl.UInt64)
print(s1.dtype, s2.dtype)

Int64 UInt64

In [36]:
from datetime import date

df = pl.DataFrame(
    {
        "name": ["Dupe Olaiya", "Daniel Bwala", "Ola Allison", "Chloe Joseph"],
        "birthdate": [
            date(1997, 1, 10),
            date(1985, 2, 15),
            date(1983, 3, 22),
            date(1981, 4, 30),
        ],
        "weight": [57.9, 72.5, 53.6, 83.1],  # (kg)
        "height": [1.56, 1.77, 1.65, 1.75],  # (m)
    }
)

print(df)

shape: (4, 4)
┌──────────────┬────────────┬────────┬────────┐
│ name         ┆ birthdate  ┆ weight ┆ height │
│ ---          ┆ ---        ┆ ---    ┆ ---    │
│ str          ┆ date       ┆ f64    ┆ f64    │
╞══════════════╪════════════╪════════╪════════╡
│ Dupe Olaiya  ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Daniel Bwala ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Ola Allison  ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Chloe Joseph ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└──────────────┴────────────┴────────┴────────┘

In [37]:
print(df.head(3))

shape: (3, 4)
┌──────────────┬────────────┬────────┬────────┐
│ name         ┆ birthdate  ┆ weight ┆ height │
│ ---          ┆ ---        ┆ ---    ┆ ---    │
│ str          ┆ date       ┆ f64    ┆ f64    │
╞══════════════╪════════════╪════════╪════════╡
│ Dupe Olaiya  ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Daniel Bwala ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Ola Allison  ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
└──────────────┴────────────┴────────┴────────┘

In [38]:
print(df.glimpse(return_as_string=True))

Rows: 4
Columns: 4
$ name       <str> 'Dupe Olaiya', 'Daniel Bwala', 'Ola Allison', 'Chloe Joseph'
$ birthdate <date> 1997-01-10, 1985-02-15, 1983-03-22, 1981-04-30
$ weight     <f64> 57.9, 72.5, 53.6, 83.1
$ height     <f64> 1.56, 1.77, 1.65, 1.75

In [39]:
print(df.tail(3))

shape: (3, 4)
┌──────────────┬────────────┬────────┬────────┐
│ name         ┆ birthdate  ┆ weight ┆ height │
│ ---          ┆ ---        ┆ ---    ┆ ---    │
│ str          ┆ date       ┆ f64    ┆ f64    │
╞══════════════╪════════════╪════════╪════════╡
│ Daniel Bwala ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Ola Allison  ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Chloe Joseph ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└──────────────┴────────────┴────────┴────────┘

In [41]:
import random

random.seed(42)  # For reproducibility.
print(df.sample(2))

shape: (2, 4)
┌──────────────┬────────────┬────────┬────────┐
│ name         ┆ birthdate  ┆ weight ┆ height │
│ ---          ┆ ---        ┆ ---    ┆ ---    │
│ str          ┆ date       ┆ f64    ┆ f64    │
╞══════════════╪════════════╪════════╪════════╡
│ Chloe Joseph ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
│ Ola Allison  ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
└──────────────┴────────────┴────────┴────────┘

In [43]:
print(df.describe())

shape: (9, 5)
┌────────────┬──────────────┬─────────────────────┬───────────┬──────────┐
│ statistic  ┆ name         ┆ birthdate           ┆ weight    ┆ height   │
│ ---        ┆ ---          ┆ ---                 ┆ ---       ┆ ---      │
│ str        ┆ str          ┆ str                 ┆ f64       ┆ f64      │
╞════════════╪══════════════╪═════════════════════╪═══════════╪══════════╡
│ count      ┆ 4            ┆ 4                   ┆ 4.0       ┆ 4.0      │
│ null_count ┆ 0            ┆ 0                   ┆ 0.0       ┆ 0.0      │
│ mean       ┆ null         ┆ 1986-09-04 00:00:00 ┆ 66.775    ┆ 1.6825   │
│ std        ┆ null         ┆ null                ┆ 13.560082 ┆ 0.097082 │
│ min        ┆ Chloe Joseph ┆ 1981-04-30          ┆ 53.6      ┆ 1.56     │
│ 25%        ┆ null         ┆ 1983-03-22          ┆ 57.9      ┆ 1.65     │
│ 50%        ┆ null         ┆ 1985-02-15          ┆ 72.5      ┆ 1.75     │
│ 75%        ┆ null         ┆ 1985-02-15          ┆ 72.5      ┆ 1.75     │
│ max        ┆ Ola Allison  ┆ 1997-01-10          ┆ 83.1      ┆ 1.77     │
└────────────┴──────────────┴─────────────────────┴───────────┴──────────┘

In [44]:
print(df_csv_us.describe())

shape: (9, 12)
┌────────────┬──────────────────┬────────┬────────┬───┬────────────┬─────────────┬──────────────┬───────────────┐
│ statistic  ┆ NAME             ┆ STUSAB ┆ SUMLEV ┆ … ┆ AREALAND   ┆ AREAWATR    ┆ POP100       ┆ HU100         │
│ ---        ┆ ---              ┆ ---    ┆ ---    ┆   ┆ ---        ┆ ---         ┆ ---          ┆ ---           │
│ str        ┆ str              ┆ str    ┆ f64    ┆   ┆ f64        ┆ f64         ┆ f64          ┆ f64           │
╞════════════╪══════════════════╪════════╪════════╪═══╪════════════╪═════════════╪══════════════╪═══════════════╡
│ count      ┆ 3143             ┆ 3143   ┆ 3143.0 ┆ … ┆ 3143.0     ┆ 3143.0      ┆ 3143.0       ┆ 3143.0        │
│ null_count ┆ 0                ┆ 0      ┆ 0.0    ┆ … ┆ 0.0        ┆ 0.0         ┆ 0.0          ┆ 0.0           │
│ mean       ┆ null             ┆ null   ┆ 50.0   ┆ … ┆ 2.9105e9   ┆ 2.1824e8    ┆ 98232.751511 ┆ 41904.145721  │
│ std        ┆ null             ┆ null   ┆ 0.0    ┆ … ┆ 9.3535e9   ┆ 1.2172e9    ┆ 312901.20242 ┆ 122768.172885 │
│ min        ┆ Abbeville County ┆ AK     ┆ 50.0   ┆ … ┆ 5.176813e6 ┆ 0.0         ┆ 82.0         ┆ 50.0          │
│ 25%        ┆ null             ┆ null   ┆ 50.0   ┆ … ┆ 1.1156e9   ┆ 7.165464e6  ┆ 11113.0      ┆ 5421.0        │
│ 50%        ┆ null             ┆ null   ┆ 50.0   ┆ … ┆ 1.5945e9   ┆ 1.9403364e7 ┆ 25857.0      ┆ 12162.0       │
│ 75%        ┆ null             ┆ null   ┆ 50.0   ┆ … ┆ 2.3932e9   ┆ 6.069614e7  ┆ 66861.0      ┆ 30578.0       │
│ max        ┆ Ziebach County   ┆ WY     ┆ 50.0   ┆ … ┆ 3.7686e11  ┆ 2.5191e10   ┆ 9.818605e6   ┆ 3.445076e6    │
└────────────┴──────────────────┴────────┴────────┴───┴────────────┴─────────────┴──────────────┴───────────────┘

In [46]:
print(df.schema)

Schema([('name', String), ('birthdate', Date), ('weight', Float64), ('height', Float64)])

In [47]:
print(df_csv_us.schema)

Schema([('NAME', String), ('STUSAB', String), ('SUMLEV', Int64), ('REGION', Int64), ('DIVISION', Int64), ('STATE', Int64), ('COUNTY', Int64), ('AREALAND', Int64), ('AREAWATR', Int64), ('POP100', Int64), ('HU100', Int64)])

In [48]:
print(df_csv.schema)

Schema([('name', String), ('birthdate', Date), ('weight', Float64), ('height', Float64)])

In [49]:
df1 = pl.DataFrame(
    {
        "name": ["Ola", "Daniel", "Chloe", "Dupe"],
        "age": [27, 39, 41, 43],
    },
    schema={"name": None, "age": pl.UInt8},
)

print(df1)

shape: (4, 2)
┌────────┬─────┐
│ name   ┆ age │
│ ---    ┆ --- │
│ str    ┆ u8  │
╞════════╪═════╡
│ Ola    ┆ 27  │
│ Daniel ┆ 39  │
│ Chloe  ┆ 41  │
│ Dupe   ┆ 43  │
└────────┴─────┘

In [50]:
print(df1.schema)

Schema([('name', String), ('age', UInt8)])

# Expressions and contexts

In [51]:
pl.col("weight") / (pl.col("height") ** 2)

In [52]:
bmi_expr = pl.col("weight") / (pl.col("height") ** 2)
print(bmi_expr)

[(col("weight")) / (col("height").pow([dyn int: 2]))]

In [55]:
df_csv = pl.read_csv("C:/Personal Working folder/african_countries.csv", try_parse_dates=True)
print(df_csv)

shape: (53, 4)
┌──────┬──────────────────┬───────────┬───────────┐
│ Year ┆ Country          ┆ Continent ┆ Emission  │
│ ---  ┆ ---              ┆ ---       ┆ ---       │
│ i64  ┆ str              ┆ str       ┆ f64       │
╞══════╪══════════════════╪═══════════╪═══════════╡
│ 2010 ┆ Angola           ┆ Africa    ┆ 1.401654  │
│ 2010 ┆ Burundi          ┆ Africa    ┆ 0.020542  │
│ 2010 ┆ Benin            ┆ Africa    ┆ 0.541771  │
│ 2010 ┆ Burkina Faso     ┆ Africa    ┆ 0.1076731 │
│ 2010 ┆ Botswana         ┆ Africa    ┆ 2.555293  │
│ …    ┆ …                ┆ …         ┆ …         │
│ 2010 ┆ Uganda           ┆ Africa    ┆ 0.108297  │
│ 2010 ┆ South Africa     ┆ Africa    ┆ 8.957154  │
│ 2010 ┆ Dem Rep Of Congo ┆ Africa    ┆ 0.049328  │
│ 2010 ┆ Zambia           ┆ Africa    ┆ 0.192079  │
│ 2010 ┆ Zimbabwe         ┆ Africa    ┆ 0.646073  │
└──────┴──────────────────┴───────────┴───────────┘

In [57]:
bmi_expr = pl.col('Year') / (pl.col('Emission') ** 2)

In [58]:
result = df_csv.select(
    bmi=bmi_expr,
    avg_bmi=bmi_expr.mean(),
    ideal_max_bmi=25,
)
print(result)

shape: (53, 3)
┌───────────────┬───────────────┬───────────────┐
│ bmi           ┆ avg_bmi       ┆ ideal_max_bmi │
│ ---           ┆ ---           ┆ ---           │
│ f64           ┆ f64           ┆ i32           │
╞═══════════════╪═══════════════╪═══════════════╡
│ 1023.091111   ┆ 210407.650403 ┆ 25            │
│ 4.7633e6      ┆ 210407.650403 ┆ 25            │
│ 6848.006653   ┆ 210407.650403 ┆ 25            │
│ 173373.063623 ┆ 210407.650403 ┆ 25            │
│ 307.832534    ┆ 210407.650403 ┆ 25            │
│ …             ┆ …             ┆ …             │
│ 171380.200517 ┆ 210407.650403 ┆ 25            │
│ 25.052786     ┆ 210407.650403 ┆ 25            │
│ 826053.005586 ┆ 210407.650403 ┆ 25            │
│ 54480.091949  ┆ 210407.650403 ┆ 25            │
│ 4815.409404   ┆ 210407.650403 ┆ 25            │
└───────────────┴───────────────┴───────────────┘

In [59]:
result = df_csv.select(deviation=(bmi_expr - bmi_expr.mean()) / bmi_expr.std())
print(result)

shape: (53, 1)
┌───────────┐
│ deviation │
│ ---       │
│ f64       │
╞═══════════╡
│ -0.31026  │
│ 6.74634   │
│ -0.301629 │
│ -0.054877 │
│ -0.31132  │
│ …         │
│ -0.05783  │
│ -0.311739 │
│ 0.912246  │
│ -0.231049 │
│ -0.304641 │
└───────────┘

In [60]:
result = df_csv.with_columns(
    bmi=bmi_expr,
    avg_bmi=bmi_expr.mean(),
    ideal_max_bmi=25,
)
print(result)

shape: (53, 7)
┌──────┬──────────────────┬───────────┬───────────┬───────────────┬───────────────┬───────────────┐
│ Year ┆ Country          ┆ Continent ┆ Emission  ┆ bmi           ┆ avg_bmi       ┆ ideal_max_bmi │
│ ---  ┆ ---              ┆ ---       ┆ ---       ┆ ---           ┆ ---           ┆ ---           │
│ i64  ┆ str              ┆ str       ┆ f64       ┆ f64           ┆ f64           ┆ i32           │
╞══════╪══════════════════╪═══════════╪═══════════╪═══════════════╪═══════════════╪═══════════════╡
│ 2010 ┆ Angola           ┆ Africa    ┆ 1.401654  ┆ 1023.091111   ┆ 210407.650403 ┆ 25            │
│ 2010 ┆ Burundi          ┆ Africa    ┆ 0.020542  ┆ 4.7633e6      ┆ 210407.650403 ┆ 25            │
│ 2010 ┆ Benin            ┆ Africa    ┆ 0.541771  ┆ 6848.006653   ┆ 210407.650403 ┆ 25            │
│ 2010 ┆ Burkina Faso     ┆ Africa    ┆ 0.1076731 ┆ 173373.063623 ┆ 210407.650403 ┆ 25            │
│ 2010 ┆ Botswana         ┆ Africa    ┆ 2.555293  ┆ 307.832534    ┆ 210407.650403 ┆ 25            │
│ …    ┆ …                ┆ …         ┆ …         ┆ …             ┆ …             ┆ …             │
│ 2010 ┆ Uganda           ┆ Africa    ┆ 0.108297  ┆ 171380.200517 ┆ 210407.650403 ┆ 25            │
│ 2010 ┆ South Africa     ┆ Africa    ┆ 8.957154  ┆ 25.052786     ┆ 210407.650403 ┆ 25            │
│ 2010 ┆ Dem Rep Of Congo ┆ Africa    ┆ 0.049328  ┆ 826053.005586 ┆ 210407.650403 ┆ 25            │
│ 2010 ┆ Zambia           ┆ Africa    ┆ 0.192079  ┆ 54480.091949  ┆ 210407.650403 ┆ 25            │
│ 2010 ┆ Zimbabwe         ┆ Africa    ┆ 0.646073  ┆ 4815.409404   ┆ 210407.650403 ┆ 25            │
└──────┴──────────────────┴───────────┴───────────┴───────────────┴───────────────┴───────────────┘

In [61]:
result = df_csv.select(
    bmi=bmi_expr,
    avg_bmi=bmi_expr.mean(),
    ideal_max_bmi=25,
)
print(result)

shape: (53, 3)
┌───────────────┬───────────────┬───────────────┐
│ bmi           ┆ avg_bmi       ┆ ideal_max_bmi │
│ ---           ┆ ---           ┆ ---           │
│ f64           ┆ f64           ┆ i32           │
╞═══════════════╪═══════════════╪═══════════════╡
│ 1023.091111   ┆ 210407.650403 ┆ 25            │
│ 4.7633e6      ┆ 210407.650403 ┆ 25            │
│ 6848.006653   ┆ 210407.650403 ┆ 25            │
│ 173373.063623 ┆ 210407.650403 ┆ 25            │
│ 307.832534    ┆ 210407.650403 ┆ 25            │
│ …             ┆ …             ┆ …             │
│ 171380.200517 ┆ 210407.650403 ┆ 25            │
│ 25.052786     ┆ 210407.650403 ┆ 25            │
│ 826053.005586 ┆ 210407.650403 ┆ 25            │
│ 54480.091949  ┆ 210407.650403 ┆ 25            │
│ 4815.409404   ┆ 210407.650403 ┆ 25            │
└───────────────┴───────────────┴───────────────┘

In [66]:
result = df_csv.filter(
    pl.col("Country").is_between(str('Country'), str('Country')),
    pl.col("Emission") > 1.7,
)
print(result)

shape: (10, 4)
┌──────┬───────────────────┬───────────┬───────────┐
│ Year ┆ Country           ┆ Continent ┆ Emission  │
│ ---  ┆ ---               ┆ ---       ┆ ---       │
│ i64  ┆ str               ┆ str       ┆ f64       │
╞══════╪═══════════════════╪═══════════╪═══════════╡
│ 2010 ┆ Botswana          ┆ Africa    ┆ 2.555293  │
│ 2010 ┆ Algeria           ┆ Africa    ┆ 3.309912  │
│ 2010 ┆ Egypt             ┆ Africa    ┆ 2.494817  │
│ 2010 ┆ Equatorial Guinea ┆ Africa    ┆ 6.421062  │
│ 2010 ┆ Libya             ┆ Africa    ┆ 10.542696 │
│ 2010 ┆ Morocco           ┆ Africa    ┆ 1.742833  │
│ 2010 ┆ Mauritius         ┆ Africa    ┆ 3.132083  │
│ 2010 ┆ Seychelles        ┆ Africa    ┆ 7.679581  │
│ 2010 ┆ Tunisia           ┆ Africa    ┆ 2.535619  │
│ 2010 ┆ South Africa      ┆ Africa    ┆ 8.957154  │
└──────┴───────────────────┴───────────┴───────────┘

# to save to csv using polars

In [68]:
print(result)

shape: (10, 4)
┌──────┬───────────────────┬───────────┬───────────┐
│ Year ┆ Country           ┆ Continent ┆ Emission  │
│ ---  ┆ ---               ┆ ---       ┆ ---       │
│ i64  ┆ str               ┆ str       ┆ f64       │
╞══════╪═══════════════════╪═══════════╪═══════════╡
│ 2010 ┆ Botswana          ┆ Africa    ┆ 2.555293  │
│ 2010 ┆ Algeria           ┆ Africa    ┆ 3.309912  │
│ 2010 ┆ Egypt             ┆ Africa    ┆ 2.494817  │
│ 2010 ┆ Equatorial Guinea ┆ Africa    ┆ 6.421062  │
│ 2010 ┆ Libya             ┆ Africa    ┆ 10.542696 │
│ 2010 ┆ Morocco           ┆ Africa    ┆ 1.742833  │
│ 2010 ┆ Mauritius         ┆ Africa    ┆ 3.132083  │
│ 2010 ┆ Seychelles        ┆ Africa    ┆ 7.679581  │
│ 2010 ┆ Tunisia           ┆ Africa    ┆ 2.535619  │
│ 2010 ┆ South Africa      ┆ Africa    ┆ 8.957154  │
└──────┴───────────────────┴───────────┴───────────┘

In [70]:
df_african_higher_emission = result 
print(df_african_higher_emission)

shape: (10, 4)
┌──────┬───────────────────┬───────────┬───────────┐
│ Year ┆ Country           ┆ Continent ┆ Emission  │
│ ---  ┆ ---               ┆ ---       ┆ ---       │
│ i64  ┆ str               ┆ str       ┆ f64       │
╞══════╪═══════════════════╪═══════════╪═══════════╡
│ 2010 ┆ Botswana          ┆ Africa    ┆ 2.555293  │
│ 2010 ┆ Algeria           ┆ Africa    ┆ 3.309912  │
│ 2010 ┆ Egypt             ┆ Africa    ┆ 2.494817  │
│ 2010 ┆ Equatorial Guinea ┆ Africa    ┆ 6.421062  │
│ 2010 ┆ Libya             ┆ Africa    ┆ 10.542696 │
│ 2010 ┆ Morocco           ┆ Africa    ┆ 1.742833  │
│ 2010 ┆ Mauritius         ┆ Africa    ┆ 3.132083  │
│ 2010 ┆ Seychelles        ┆ Africa    ┆ 7.679581  │
│ 2010 ┆ Tunisia           ┆ Africa    ┆ 2.535619  │
│ 2010 ┆ South Africa      ┆ Africa    ┆ 8.957154  │
└──────┴───────────────────┴───────────┴───────────┘

In [71]:
df_african_higher_emission.write_csv("C:/Personal Working folder/higher_african_countries_2010.csv")

In [79]:
result = df.group_by(
    (pl.col("birthdate").dt.year() // 10 * 10).alias("decade"),
    (pl.col("height") < 1.7).alias("short?"),
).agg(
    pl.len(),
    pl.col("height").max().alias("tallest"),
    pl.col("weight", "height").mean().name.prefix("avg_"),
)
print(result)

shape: (3, 6)
┌────────┬────────┬─────┬─────────┬────────────┬────────────┐
│ decade ┆ short? ┆ len ┆ tallest ┆ avg_weight ┆ avg_height │
│ ---    ┆ ---    ┆ --- ┆ ---     ┆ ---        ┆ ---        │
│ i32    ┆ bool   ┆ u32 ┆ f64     ┆ f64        ┆ f64        │
╞════════╪════════╪═════╪═════════╪════════════╪════════════╡
│ 1990   ┆ true   ┆ 1   ┆ 1.56    ┆ 57.9       ┆ 1.56       │
│ 1980   ┆ true   ┆ 1   ┆ 1.65    ┆ 53.6       ┆ 1.65       │
│ 1980   ┆ false  ┆ 2   ┆ 1.77    ┆ 77.8       ┆ 1.76       │
└────────┴────────┴─────┴─────────┴────────────┴────────────┘

In [80]:
pl.col("weight", "height").mean().name.prefix("avg_")

In [81]:
[
    pl.col("weight").mean().alias("avg_weight"),
    pl.col("height").mean().alias("avg_height"),
]

[<Expr ['col("weight").mean().alias("av…'] at 0x17A9D21A9D0>,
 <Expr ['col("height").mean().alias("av…'] at 0x17A9D21A310>]

In [82]:
(pl.col(pl.Float64) * 1.1).name.suffix("*1.1")

In [83]:
expr = (pl.col(pl.Float64) * 1.1).name.suffix("*1.1")
result = df.select(expr)
print(result)

shape: (4, 2)
┌────────────┬────────────┐
│ weight*1.1 ┆ height*1.1 │
│ ---        ┆ ---        │
│ f64        ┆ f64        │
╞════════════╪════════════╡
│ 63.69      ┆ 1.716      │
│ 79.75      ┆ 1.947      │
│ 58.96      ┆ 1.815      │
│ 91.41      ┆ 1.925      │
└────────────┴────────────┘

In [84]:
df2 = pl.DataFrame(
    {
        "name": ["Ola", "Daniel", "Chloe", "Dupe"],
        "age": [27, 39, 41, 43],
    },
)
result = df2.select(expr)
print(result)

shape: (0, 0)
┌┐
╞╡
└┘

### Lazy API

In [94]:
(pl.col(pl.Float64) * 1.1).name.suffix("*1.1")

In [95]:
schema = pl.Schema(
    {
        "int_1": pl.Int16,
        "int_2": pl.Int32,
        "float_1": pl.Float64,
        "float_2": pl.Float64,
        "float_3": pl.Float64,
    }
)

print(
    pl.LazyFrame(schema=schema)
    .select((pl.col(pl.Float64) * 1.1).name.suffix("*1.1"))
    .explain()
)

 SELECT [[(col("float_1")) * (1.1)].alias("float_1*1.1"), [(col("float_2")) * (1.1)].alias("float_2*1.1"), [(col("float_3")) * (1.1)].alias("float_3*1.1")] FROM
  DF ["int_1", "int_2", "float_1", "float_2"]; PROJECT 3/5 COLUMNS

# Expressions

In [96]:
# Basic Operations 
import polars as pl 
import numpy as np 

np.random.seed(52)
df_basic = pl.DataFrame(
    {
        "nrs": [1, 2, 3, None, 5],
        "names": ["foo", "ham", "spam", "egg", "spam"],
        "random": np.random.rand(5),
        "groups": ["A", "A", "B", "A", "B"],
    }
)
print(df_basic)

shape: (5, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 1    ┆ foo   ┆ 0.82311  ┆ A      │
│ 2    ┆ ham   ┆ 0.026118 ┆ A      │
│ 3    ┆ spam  ┆ 0.210771 ┆ B      │
│ null ┆ egg   ┆ 0.618422 ┆ A      │
│ 5    ┆ spam  ┆ 0.098284 ┆ B      │
└──────┴───────┴──────────┴────────┘

In [101]:
df_basic.describe()

shape: (9, 5)
┌────────────┬──────────┬───────┬──────────┬────────┐
│ statistic  ┆ nrs      ┆ names ┆ random   ┆ groups │
│ ---        ┆ ---      ┆ ---   ┆ ---      ┆ ---    │
│ str        ┆ f64      ┆ str   ┆ f64      ┆ str    │
╞════════════╪══════════╪═══════╪══════════╪════════╡
│ count      ┆ 4.0      ┆ 5     ┆ 5.0      ┆ 5      │
│ null_count ┆ 1.0      ┆ 0     ┆ 0.0      ┆ 0      │
│ mean       ┆ 2.75     ┆ null  ┆ 0.355341 ┆ null   │
│ std        ┆ 1.707825 ┆ null  ┆ 0.34763  ┆ null   │
│ min        ┆ 1.0      ┆ egg   ┆ 0.026118 ┆ A      │
│ 25%        ┆ 2.0      ┆ null  ┆ 0.098284 ┆ null   │
│ 50%        ┆ 3.0      ┆ null  ┆ 0.210771 ┆ null   │
│ 75%        ┆ 3.0      ┆ null  ┆ 0.618422 ┆ null   │
│ max        ┆ 5.0      ┆ spam  ┆ 0.82311  ┆ B      │
└────────────┴──────────┴───────┴──────────┴────────┘

In [102]:
result = df_basic.select(
    (pl.col("nrs") + 5).alias("nrs + 5"),
    (pl.col("nrs") - 5).alias("nrs - 5"),
    (pl.col("nrs") * pl.col("random")).alias("nrs * random"),
    (pl.col("nrs") / pl.col("random")).alias("nrs / random"),
    (pl.col("nrs") ** 2).alias("nrs ** 2"),
    (pl.col("nrs") % 3).alias("nrs % 3"),
)

print(result)

shape: (5, 6)
┌─────────┬─────────┬──────────────┬──────────────┬──────────┬─────────┐
│ nrs + 5 ┆ nrs - 5 ┆ nrs * random ┆ nrs / random ┆ nrs ** 2 ┆ nrs % 3 │
│ ---     ┆ ---     ┆ ---          ┆ ---          ┆ ---      ┆ ---     │
│ i64     ┆ i64     ┆ f64          ┆ f64          ┆ i64      ┆ i64     │
╞═════════╪═════════╪══════════════╪══════════════╪══════════╪═════════╡
│ 6       ┆ -4      ┆ 0.82311      ┆ 1.214904     ┆ 1        ┆ 1       │
│ 7       ┆ -3      ┆ 0.052236     ┆ 76.575596    ┆ 4        ┆ 2       │
│ 8       ┆ -2      ┆ 0.632312     ┆ 14.233481    ┆ 9        ┆ 0       │
│ null    ┆ null    ┆ null         ┆ null         ┆ null     ┆ null    │
│ 10      ┆ 0       ┆ 0.491422     ┆ 50.872739    ┆ 25       ┆ 2       │
└─────────┴─────────┴──────────────┴──────────────┴──────────┴─────────┘

In [103]:
result_named_operators = df_basic.select(
    (pl.col("nrs").add(5)).alias("nrs + 5"),
    (pl.col("nrs").sub(5)).alias("nrs - 5"),
    (pl.col("nrs").mul(pl.col("random"))).alias("nrs * random"),
    (pl.col("nrs").truediv(pl.col("random"))).alias("nrs / random"),
    (pl.col("nrs").pow(2)).alias("nrs ** 2"),
    (pl.col("nrs").mod(3)).alias("nrs % 3"),
)

print(result.equals(result_named_operators))

True

In [105]:
result = df_basic.select(
    (pl.col("nrs") > 1).alias("nrs > 1"),  # .gt
    (pl.col("nrs") >= 3).alias("nrs >= 3"),  # ge
    (pl.col("random") < 0.2).alias("random < .2"),  # .lt
    (pl.col("random") <= 0.5).alias("random <= .5"),  # .le
    (pl.col("nrs") != 1).alias("nrs != 1"),  # .ne
    (pl.col("nrs") == 1).alias("nrs == 1"),  # .eq
)
print(result)

shape: (5, 6)
┌─────────┬──────────┬─────────────┬──────────────┬──────────┬──────────┐
│ nrs > 1 ┆ nrs >= 3 ┆ random < .2 ┆ random <= .5 ┆ nrs != 1 ┆ nrs == 1 │
│ ---     ┆ ---      ┆ ---         ┆ ---          ┆ ---      ┆ ---      │
│ bool    ┆ bool     ┆ bool        ┆ bool         ┆ bool     ┆ bool     │
╞═════════╪══════════╪═════════════╪══════════════╪══════════╪══════════╡
│ false   ┆ false    ┆ false       ┆ false        ┆ false    ┆ true     │
│ true    ┆ false    ┆ true        ┆ true         ┆ true     ┆ false    │
│ true    ┆ true     ┆ false       ┆ true         ┆ true     ┆ false    │
│ null    ┆ null     ┆ false       ┆ false        ┆ null     ┆ null     │
│ true    ┆ true     ┆ true        ┆ true         ┆ true     ┆ false    │
└─────────┴──────────┴─────────────┴──────────────┴──────────┴──────────┘

In [106]:
# Boolean operators & | ~
result = df_basic.select(
    ((~pl.col("nrs").is_null()) & (pl.col("groups") == "A")).alias(
        "number not null and group A"
    ),
    ((pl.col("random") < 0.5) | (pl.col("groups") == "B")).alias(
        "random < 0.5 or group B"
    ),
)

print(result)

# Corresponding named functions `and_`, `or_`, and `not_`.
result2 = df_basic.select(
    (pl.col("nrs").is_null().not_().and_(pl.col("groups") == "A")).alias(
        "number not null and group A"
    ),
    ((pl.col("random") < 0.5).or_(pl.col("groups") == "B")).alias(
        "random < 0.5 or group B"
    ),
)
print(result.equals(result2))

shape: (5, 2)
┌─────────────────────────────┬─────────────────────────┐
│ number not null and group A ┆ random < 0.5 or group B │
│ ---                         ┆ ---                     │
│ bool                        ┆ bool                    │
╞═════════════════════════════╪═════════════════════════╡
│ true                        ┆ false                   │
│ true                        ┆ true                    │
│ false                       ┆ true                    │
│ false                       ┆ false                   │
│ false                       ┆ true                    │
└─────────────────────────────┴─────────────────────────┘
True

In [108]:
result = df_basic.select(
    pl.col("nrs"),
    (pl.col("nrs") & 6).alias("nrs & 6"),
    (pl.col("nrs") | 6).alias("nrs | 6"),
    (~pl.col("nrs")).alias("not nrs"),
    (pl.col("nrs") ^ 6).alias("nrs ^ 6"),
)

print(result)

shape: (5, 5)
┌──────┬─────────┬─────────┬─────────┬─────────┐
│ nrs  ┆ nrs & 6 ┆ nrs | 6 ┆ not nrs ┆ nrs ^ 6 │
│ ---  ┆ ---     ┆ ---     ┆ ---     ┆ ---     │
│ i64  ┆ i64     ┆ i64     ┆ i64     ┆ i64     │
╞══════╪═════════╪═════════╪═════════╪═════════╡
│ 1    ┆ 0       ┆ 7       ┆ -2      ┆ 7       │
│ 2    ┆ 2       ┆ 6       ┆ -3      ┆ 4       │
│ 3    ┆ 2       ┆ 7       ┆ -4      ┆ 5       │
│ null ┆ null    ┆ null    ┆ null    ┆ null    │
│ 5    ┆ 4       ┆ 7       ┆ -6      ┆ 3       │
└──────┴─────────┴─────────┴─────────┴─────────┘

In [110]:
long_df = pl.DataFrame({"numbers": np.random.randint(0, 100_000, 100_000)})

result = long_df.select(
    pl.col("numbers").n_unique().alias("n_unique"),
    pl.col("numbers").approx_n_unique().alias("approx_n_unique"),
)

print(result)

shape: (1, 2)
┌──────────┬─────────────────┐
│ n_unique ┆ approx_n_unique │
│ ---      ┆ ---             │
│ u32      ┆ u32             │
╞══════════╪═════════════════╡
│ 63220    ┆ 63342           │
└──────────┴─────────────────┘

In [107]:
# Boolean operators & | ~
result = df_basic.select(
    ((~pl.col("nrs").is_null()) & (pl.col("groups") == "A")).alias(
        "number not null and group A"
    ),
    ((pl.col("random") < 0.5) | (pl.col("groups") == "B")).alias(
        "random < 0.5 or group B"
    ),
)

print(result)

# Corresponding named functions `and_`, `or_`, and `not_`.
result2 = df_basic.select(
    (pl.col("nrs").is_null().not_().and_(pl.col("groups") == "A")).alias(
        "number not null and group A"
    ),
    ((pl.col("random") < 0.5).or_(pl.col("groups") == "B")).alias(
        "random < 0.5 or group B"
    ),
)
print(result.equals(result2))

shape: (5, 2)
┌─────────────────────────────┬─────────────────────────┐
│ number not null and group A ┆ random < 0.5 or group B │
│ ---                         ┆ ---                     │
│ bool                        ┆ bool                    │
╞═════════════════════════════╪═════════════════════════╡
│ true                        ┆ false                   │
│ true                        ┆ true                    │
│ false                       ┆ true                    │
│ false                       ┆ false                   │
│ false                       ┆ true                    │
└─────────────────────────────┴─────────────────────────┘
True

In [111]:
result = df_basic.select(
    pl.col("names").value_counts().alias("value_counts"),
)

print(result)

shape: (4, 1)
┌──────────────┐
│ value_counts │
│ ---          │
│ struct[2]    │
╞══════════════╡
│ {"egg",1}    │
│ {"foo",1}    │
│ {"ham",1}    │
│ {"spam",2}   │
└──────────────┘

In [112]:
result = df_basic.select(
    pl.col("names").unique(maintain_order=True).alias("unique"),
    pl.col("names").unique_counts().alias("unique_counts"),
)

print(result)

shape: (4, 2)
┌────────┬───────────────┐
│ unique ┆ unique_counts │
│ ---    ┆ ---           │
│ str    ┆ u32           │
╞════════╪═══════════════╡
│ foo    ┆ 1             │
│ ham    ┆ 1             │
│ spam   ┆ 2             │
│ egg    ┆ 1             │
└────────┴───────────────┘

In [114]:
# conditional function when, then, otherwise are conditional if, else and elif in python 
result = df_basic.select(     
    pl.col("nrs"),
    pl.when(pl.col("nrs") % 2 == 1)  # Is the number odd?
    .then(3 * pl.col("nrs") + 1)  # If so, multiply by 3 and add 1.
    .otherwise(pl.col("nrs") // 2)  # If not, divide by 2.
    .alias("Collatz"),
)

print(result)

shape: (5, 2)
┌──────┬─────────┐
│ nrs  ┆ Collatz │
│ ---  ┆ ---     │
│ i64  ┆ i64     │
╞══════╪═════════╡
│ 1    ┆ 4       │
│ 2    ┆ 1       │
│ 3    ┆ 10      │
│ null ┆ null    │
│ 5    ┆ 16      │
└──────┴─────────┘

# Expression Expansion

In [115]:
df_african = pl.read_csv("C:/Personal Working folder/african_countries.csv", try_parse_dates=True)
print(df_african)

shape: (53, 4)
┌──────┬──────────────────┬───────────┬───────────┐
│ Year ┆ Country          ┆ Continent ┆ Emission  │
│ ---  ┆ ---              ┆ ---       ┆ ---       │
│ i64  ┆ str              ┆ str       ┆ f64       │
╞══════╪══════════════════╪═══════════╪═══════════╡
│ 2010 ┆ Angola           ┆ Africa    ┆ 1.401654  │
│ 2010 ┆ Burundi          ┆ Africa    ┆ 0.020542  │
│ 2010 ┆ Benin            ┆ Africa    ┆ 0.541771  │
│ 2010 ┆ Burkina Faso     ┆ Africa    ┆ 0.1076731 │
│ 2010 ┆ Botswana         ┆ Africa    ┆ 2.555293  │
│ …    ┆ …                ┆ …         ┆ …         │
│ 2010 ┆ Uganda           ┆ Africa    ┆ 0.108297  │
│ 2010 ┆ South Africa     ┆ Africa    ┆ 8.957154  │
│ 2010 ┆ Dem Rep Of Congo ┆ Africa    ┆ 0.049328  │
│ 2010 ┆ Zambia           ┆ Africa    ┆ 0.192079  │
│ 2010 ┆ Zimbabwe         ┆ Africa    ┆ 0.646073  │
└──────┴──────────────────┴───────────┴───────────┘

In [118]:
emission_rate = 1.90 
result_africa = df_african.with_columns(
    (
        pl.col("Emission") / emission_rate ).round(2)
)
print(result_africa)

shape: (53, 4)
┌──────┬──────────────────┬───────────┬──────────┐
│ Year ┆ Country          ┆ Continent ┆ Emission │
│ ---  ┆ ---              ┆ ---       ┆ ---      │
│ i64  ┆ str              ┆ str       ┆ f64      │
╞══════╪══════════════════╪═══════════╪══════════╡
│ 2010 ┆ Angola           ┆ Africa    ┆ 0.74     │
│ 2010 ┆ Burundi          ┆ Africa    ┆ 0.01     │
│ 2010 ┆ Benin            ┆ Africa    ┆ 0.29     │
│ 2010 ┆ Burkina Faso     ┆ Africa    ┆ 0.06     │
│ 2010 ┆ Botswana         ┆ Africa    ┆ 1.34     │
│ …    ┆ …                ┆ …         ┆ …        │
│ 2010 ┆ Uganda           ┆ Africa    ┆ 0.06     │
│ 2010 ┆ South Africa     ┆ Africa    ┆ 4.71     │
│ 2010 ┆ Dem Rep Of Congo ┆ Africa    ┆ 0.03     │
│ 2010 ┆ Zambia           ┆ Africa    ┆ 0.1      │
│ 2010 ┆ Zimbabwe         ┆ Africa    ┆ 0.34     │
└──────┴──────────────────┴───────────┴──────────┘

In [120]:
exprs = [(pl.col("Emission") / emission_rate).round(2)]
result2 = df_african.with_columns(exprs)
print(result_africa.equals(result2))

True

# Expression By Data Type

In [121]:
result_africa = df_african.with_columns((pl.col(pl.Float64) / emission_rate).round(2))
print(result_africa)

shape: (53, 4)
┌──────┬──────────────────┬───────────┬──────────┐
│ Year ┆ Country          ┆ Continent ┆ Emission │
│ ---  ┆ ---              ┆ ---       ┆ ---      │
│ i64  ┆ str              ┆ str       ┆ f64      │
╞══════╪══════════════════╪═══════════╪══════════╡
│ 2010 ┆ Angola           ┆ Africa    ┆ 0.74     │
│ 2010 ┆ Burundi          ┆ Africa    ┆ 0.01     │
│ 2010 ┆ Benin            ┆ Africa    ┆ 0.29     │
│ 2010 ┆ Burkina Faso     ┆ Africa    ┆ 0.06     │
│ 2010 ┆ Botswana         ┆ Africa    ┆ 1.34     │
│ …    ┆ …                ┆ …         ┆ …        │
│ 2010 ┆ Uganda           ┆ Africa    ┆ 0.06     │
│ 2010 ┆ South Africa     ┆ Africa    ┆ 4.71     │
│ 2010 ┆ Dem Rep Of Congo ┆ Africa    ┆ 0.03     │
│ 2010 ┆ Zambia           ┆ Africa    ┆ 0.1      │
│ 2010 ┆ Zimbabwe         ┆ Africa    ┆ 0.34     │
└──────┴──────────────────┴───────────┴──────────┘

In [127]:
result_africa = df_african.select(pl.col('Year', 'Country', 'Emission'))
print(result_africa)

shape: (53, 3)
┌──────┬──────────────────┬───────────┐
│ Year ┆ Country          ┆ Emission  │
│ ---  ┆ ---              ┆ ---       │
│ i64  ┆ str              ┆ f64       │
╞══════╪══════════════════╪═══════════╡
│ 2010 ┆ Angola           ┆ 1.401654  │
│ 2010 ┆ Burundi          ┆ 0.020542  │
│ 2010 ┆ Benin            ┆ 0.541771  │
│ 2010 ┆ Burkina Faso     ┆ 0.1076731 │
│ 2010 ┆ Botswana         ┆ 2.555293  │
│ …    ┆ …                ┆ …         │
│ 2010 ┆ Uganda           ┆ 0.108297  │
│ 2010 ┆ South Africa     ┆ 8.957154  │
│ 2010 ┆ Dem Rep Of Congo ┆ 0.049328  │
│ 2010 ┆ Zambia           ┆ 0.192079  │
│ 2010 ┆ Zimbabwe         ┆ 0.646073  │
└──────┴──────────────────┴───────────┘

In [122]:
result_africa = df_african.with_columns((pl.col(pl.Float32, pl.Float64) / emission_rate).round(2))
print(result_africa.equals(result2))

True

In [128]:
df2_africa = result_africa
print(df2_africa)

shape: (53, 3)
┌──────┬──────────────────┬───────────┐
│ Year ┆ Country          ┆ Emission  │
│ ---  ┆ ---              ┆ ---       │
│ i64  ┆ str              ┆ f64       │
╞══════╪══════════════════╪═══════════╡
│ 2010 ┆ Angola           ┆ 1.401654  │
│ 2010 ┆ Burundi          ┆ 0.020542  │
│ 2010 ┆ Benin            ┆ 0.541771  │
│ 2010 ┆ Burkina Faso     ┆ 0.1076731 │
│ 2010 ┆ Botswana         ┆ 2.555293  │
│ …    ┆ …                ┆ …         │
│ 2010 ┆ Uganda           ┆ 0.108297  │
│ 2010 ┆ South Africa     ┆ 8.957154  │
│ 2010 ┆ Dem Rep Of Congo ┆ 0.049328  │
│ 2010 ┆ Zambia           ┆ 0.192079  │
│ 2010 ┆ Zimbabwe         ┆ 0.646073  │
└──────┴──────────────────┴───────────┘

In [129]:
result = df2_africa.select(pl.all())
print(result.equals(df2_africa))

True

In [131]:
result_africa = df_african.select(pl.all().exclude('Continent'))      # to remove a column 
print(result_africa)

shape: (53, 3)
┌──────┬──────────────────┬───────────┐
│ Year ┆ Country          ┆ Emission  │
│ ---  ┆ ---              ┆ ---       │
│ i64  ┆ str              ┆ f64       │
╞══════╪══════════════════╪═══════════╡
│ 2010 ┆ Angola           ┆ 1.401654  │
│ 2010 ┆ Burundi          ┆ 0.020542  │
│ 2010 ┆ Benin            ┆ 0.541771  │
│ 2010 ┆ Burkina Faso     ┆ 0.1076731 │
│ 2010 ┆ Botswana         ┆ 2.555293  │
│ …    ┆ …                ┆ …         │
│ 2010 ┆ Uganda           ┆ 0.108297  │
│ 2010 ┆ South Africa     ┆ 8.957154  │
│ 2010 ┆ Dem Rep Of Congo ┆ 0.049328  │
│ 2010 ┆ Zambia           ┆ 0.192079  │
│ 2010 ┆ Zimbabwe         ┆ 0.646073  │
└──────┴──────────────────┴───────────┘

In [135]:
result = df2_africa.select(
(pl.col('Emission') / emission_rate).alias('Current_Emission')
)    
print(result)

shape: (53, 1)
┌──────────────────┐
│ Current_Emission │
│ ---              │
│ f64              │
╞══════════════════╡
│ 0.737713         │
│ 0.010812         │
│ 0.285143         │
│ 0.05667          │
│ 1.344891         │
│ …                │
│ 0.056999         │
│ 4.714291         │
│ 0.025962         │
│ 0.101094         │
│ 0.340038         │
└──────────────────┘

In [136]:
result = df2_africa.with_columns(
    (pl.col("Emission") / emission_rate).alias("Current_Emission")
).rename({"Emission": "Old_Emission"})

print(result)

shape: (53, 4)
┌──────┬──────────────────┬──────────────┬──────────────────┐
│ Year ┆ Country          ┆ Old_Emission ┆ Current_Emission │
│ ---  ┆ ---              ┆ ---          ┆ ---              │
│ i64  ┆ str              ┆ f64          ┆ f64              │
╞══════╪══════════════════╪══════════════╪══════════════════╡
│ 2010 ┆ Angola           ┆ 1.401654     ┆ 0.737713         │
│ 2010 ┆ Burundi          ┆ 0.020542     ┆ 0.010812         │
│ 2010 ┆ Benin            ┆ 0.541771     ┆ 0.285143         │
│ 2010 ┆ Burkina Faso     ┆ 0.1076731    ┆ 0.05667          │
│ 2010 ┆ Botswana         ┆ 2.555293     ┆ 1.344891         │
│ …    ┆ …                ┆ …            ┆ …                │
│ 2010 ┆ Uganda           ┆ 0.108297     ┆ 0.056999         │
│ 2010 ┆ South Africa     ┆ 8.957154     ┆ 4.714291         │
│ 2010 ┆ Dem Rep Of Congo ┆ 0.049328     ┆ 0.025962         │
│ 2010 ┆ Zambia           ┆ 0.192079     ┆ 0.101094         │
│ 2010 ┆ Zimbabwe         ┆ 0.646073     ┆ 0.340038         │
└──────┴──────────────────┴──────────────┴──────────────────┘

In [137]:
# There is also `.name.to_uppercase`, so this usage of `.map` is moot.
result = df2_africa.select(pl.all().name.map(str.upper))
print(result)

shape: (53, 3)
┌──────┬──────────────────┬───────────┐
│ YEAR ┆ COUNTRY          ┆ EMISSION  │
│ ---  ┆ ---              ┆ ---       │
│ i64  ┆ str              ┆ f64       │
╞══════╪══════════════════╪═══════════╡
│ 2010 ┆ Angola           ┆ 1.401654  │
│ 2010 ┆ Burundi          ┆ 0.020542  │
│ 2010 ┆ Benin            ┆ 0.541771  │
│ 2010 ┆ Burkina Faso     ┆ 0.1076731 │
│ 2010 ┆ Botswana         ┆ 2.555293  │
│ …    ┆ …                ┆ …         │
│ 2010 ┆ Uganda           ┆ 0.108297  │
│ 2010 ┆ South Africa     ┆ 8.957154  │
│ 2010 ┆ Dem Rep Of Congo ┆ 0.049328  │
│ 2010 ┆ Zambia           ┆ 0.192079  │
│ 2010 ┆ Zimbabwe         ┆ 0.646073  │
└──────┴──────────────────┴───────────┘

In [138]:
import polars.selectors as cs 
result = df2_africa.select(cs.string() | cs.ends_with("_emission"))
print(result)

shape: (53, 1)
┌──────────────────┐
│ Country          │
│ ---              │
│ str              │
╞══════════════════╡
│ Angola           │
│ Burundi          │
│ Benin            │
│ Burkina Faso     │
│ Botswana         │
│ …                │
│ Uganda           │
│ South Africa     │
│ Dem Rep Of Congo │
│ Zambia           │
│ Zimbabwe         │
└──────────────────┘

In [141]:
result_africa = df_african.select(cs.contains('_') - cs.string())
print(result_africa)

shape: (0, 0)
┌┐
╞╡
└┘

In [144]:
people = pl.DataFrame(
    {
        "name": ["Bimpe", "Bola", "Tola", "Sola"],
        "has_partner": [True, False, True, False],
        "has_kids": [False, False, True, False],
        "has_tattoos": [True, False, False, True],
        "is_alive": [True, True, True, True],
    }
)

wrong_result = people.select((~cs.starts_with("has_")).name.prefix("not_"))
print(wrong_result)

shape: (4, 2)
┌──────────┬──────────────┐
│ not_name ┆ not_is_alive │
│ ---      ┆ ---          │
│ str      ┆ bool         │
╞══════════╪══════════════╡
│ Bimpe    ┆ true         │
│ Bola     ┆ true         │
│ Tola     ┆ true         │
│ Sola     ┆ true         │
└──────────┴──────────────┘

In [159]:
result = people.select((~cs.starts_with("has_").as_expr()).name.prefix("not_"))
print(result)

shape: (4, 3)
┌─────────────────┬──────────────┬─────────────────┐
│ not_has_partner ┆ not_has_kids ┆ not_has_tattoos │
│ ---             ┆ ---          ┆ ---             │
│ bool            ┆ bool         ┆ bool            │
╞═════════════════╪══════════════╪═════════════════╡
│ false           ┆ true         ┆ false           │
│ true            ┆ true         ┆ true            │
│ false           ┆ false        ┆ true            │
│ true            ┆ true         ┆ false           │
└─────────────────┴──────────────┴─────────────────┘

In [157]:
result = people.select((~cs.starts_with("has_").as_expr()).name.prefix("not_"))
print(result)

shape: (4, 3)
┌─────────────────┬──────────────┬─────────────────┐
│ not_has_partner ┆ not_has_kids ┆ not_has_tattoos │
│ ---             ┆ ---          ┆ ---             │
│ bool            ┆ bool         ┆ bool            │
╞═════════════════╪══════════════╪═════════════════╡
│ false           ┆ true         ┆ false           │
│ true            ┆ true         ┆ true            │
│ false           ┆ false        ┆ true            │
│ true            ┆ true         ┆ false           │
└─────────────────┴──────────────┴─────────────────┘

In [146]:
print(cs.is_selector(~cs.starts_with("has_").as_expr()))

False

In [147]:
print(
    cs.expand_selector(
        people,
        cs.starts_with("has_"),
    )
)

('has_partner', 'has_kids', 'has_tattoos')

('has_partner', 'has_kids', 'has_tattoos')

('has_partner', 'has_kids', 'has_tattoos')

# Casting

In [148]:
df = pl.DataFrame(
    {
        "integers": [1, 2, 3],
        "big_integers": [100000002, 2, 3000000003],
        "floats": [4.0, 5.8, -6.3],
    }
)

print(df)

shape: (3, 3)
┌──────────┬──────────────┬────────┐
│ integers ┆ big_integers ┆ floats │
│ ---      ┆ ---          ┆ ---    │
│ i64      ┆ i64          ┆ f64    │
╞══════════╪══════════════╪════════╡
│ 1        ┆ 100000002    ┆ 4.0    │
│ 2        ┆ 2            ┆ 5.8    │
│ 3        ┆ 3000000003   ┆ -6.3   │
└──────────┴──────────────┴────────┘

In [149]:
result = df.select(
    pl.col("integers").cast(pl.Float32).alias("integers_as_floats"),
    pl.col("floats").cast(pl.Int32).alias("floats_as_integers"),
)
print(result)

shape: (3, 2)
┌────────────────────┬────────────────────┐
│ integers_as_floats ┆ floats_as_integers │
│ ---                ┆ ---                │
│ f32                ┆ i32                │
╞════════════════════╪════════════════════╡
│ 1.0                ┆ 4                  │
│ 2.0                ┆ 5                  │
│ 3.0                ┆ -6                 │
└────────────────────┴────────────────────┘

In [160]:
print(f"Before downcasting: {df.estimated_size()} bytes")
result = df.with_columns(
    pl.col("integers").cast(pl.Int16),
    pl.col("floats").cast(pl.Float32),
)
print(f"After downcasting: {result.estimated_size()} bytes")

Before downcasting: 72 bytes
After downcasting: 42 bytes

In [3]:
import polars as pl 
import datetime as dt
df = pl.DataFrame(
    {
        "integers": [1, 2, 3],
        "big_integers": [100000002, 2, 3000000003],
        "floats": [4.0, 5.8, -6.3],
    }
)

print(f"Before downcasting: {df.estimated_size()} bytes")
result = df.with_columns(
    pl.col("integers").cast(pl.Int16),
    pl.col("floats").cast(pl.Float32),
)
print(f"After downcasting: {result.estimated_size()} bytes")

Before downcasting: 72 bytes
After downcasting: 42 bytes

In [5]:
from polars.exceptions import InvalidOperationError

try:
    result = df.select(pl.col("big_integers").cast(pl.Int8))
    print(result)
except InvalidOperationError as err:
    print(err)

conversion from `i64` to `i8` failed in column 'big_integers' for 2 out of 3 values: [100000002, 3000000003]

In [6]:
result = df.select(pl.col("big_integers").cast(pl.Int8, strict=False))
print(result)

shape: (3, 1)
┌──────────────┐
│ big_integers │
│ ---          │
│ i8           │
╞══════════════╡
│ null         │
│ 2            │
│ null         │
└──────────────┘

In [7]:
df = pl.DataFrame(
    {
        "integers_as_strings": ["1", "2", "3"],
        "floats_as_strings": ["4.0", "5.8", "-6.3"],
        "floats": [4.0, 5.8, -6.3],
    }
)

result = df.select(
    pl.col("integers_as_strings").cast(pl.Int32),
    pl.col("floats_as_strings").cast(pl.Float64),
    pl.col("floats").cast(pl.String),
)
print(result)

shape: (3, 3)
┌─────────────────────┬───────────────────┬────────┐
│ integers_as_strings ┆ floats_as_strings ┆ floats │
│ ---                 ┆ ---               ┆ ---    │
│ i32                 ┆ f64               ┆ str    │
╞═════════════════════╪═══════════════════╪════════╡
│ 1                   ┆ 4.0               ┆ 4.0    │
│ 2                   ┆ 5.8               ┆ 5.8    │
│ 3                   ┆ -6.3              ┆ -6.3   │
└─────────────────────┴───────────────────┴────────┘

# Booleans

In [8]:
df = pl.DataFrame(
    {
        "integers": [-1, 0, 2, 3, 4],
        "floats": [0.0, 1.0, 2.0, 3.0, 4.0],
        "bools": [True, False, True, False, True],
    }
)

result = df.select(
    pl.col("integers").cast(pl.Boolean),
    pl.col("floats").cast(pl.Boolean),
    pl.col("bools").cast(pl.Int8),
)
print(result)

shape: (5, 3)
┌──────────┬────────┬───────┐
│ integers ┆ floats ┆ bools │
│ ---      ┆ ---    ┆ ---   │
│ bool     ┆ bool   ┆ i8    │
╞══════════╪════════╪═══════╡
│ true     ┆ false  ┆ 1     │
│ false    ┆ true   ┆ 0     │
│ true     ┆ true   ┆ 1     │
│ true     ┆ true   ┆ 0     │
│ true     ┆ true   ┆ 1     │
└──────────┴────────┴───────┘

In [9]:
from datetime import date, datetime, time

df = pl.DataFrame(
    {
        "date": [
            date(1970, 1, 1),  # epoch
            date(1970, 1, 10),  # 9 days later
        ],
        "datetime": [
            datetime(1970, 1, 1, 0, 0, 0),  # epoch
            datetime(1970, 1, 1, 0, 1, 0),  # 1 minute later
        ],
        "time": [
            time(0, 0, 0),  # reference time
            time(0, 0, 1),  # 1 second later
        ],
    }
)

result = df.select(
    pl.col("date").cast(pl.Int64).alias("days_since_epoch"),
    pl.col("datetime").cast(pl.Int64).alias("us_since_epoch"),
    pl.col("time").cast(pl.Int64).alias("ns_since_midnight"),
)
print(result)

shape: (2, 3)
┌──────────────────┬────────────────┬───────────────────┐
│ days_since_epoch ┆ us_since_epoch ┆ ns_since_midnight │
│ ---              ┆ ---            ┆ ---               │
│ i64              ┆ i64            ┆ i64               │
╞══════════════════╪════════════════╪═══════════════════╡
│ 0                ┆ 0              ┆ 0                 │
│ 9                ┆ 60000000       ┆ 1000000000        │
└──────────────────┴────────────────┴───────────────────┘

In [10]:
df = pl.DataFrame(
    {
        "date": [date(2025, 1, 1), date(2025, 1, 2)],
        "string": ["2025-01-01", "2025-01-02"],
    }
)

result = df.select(
    pl.col("date").dt.to_string("%Y-%m-%d"),
    pl.col("string").str.to_datetime("%Y-%m-%d"),
)
print(result)

shape: (2, 2)
┌────────────┬─────────────────────┐
│ date       ┆ string              │
│ ---        ┆ ---                 │
│ str        ┆ datetime[μs]        │
╞════════════╪═════════════════════╡
│ 2025-01-01 ┆ 2025-01-01 00:00:00 │
│ 2025-01-02 ┆ 2025-01-02 00:00:00 │
└────────────┴─────────────────────┘

# Strings

In [11]:
import polars as pl

df = pl.DataFrame(
    {
        "language": ["English", "Yoruba", "Igbo", "Hausa"],
        "fruit": ["pear", "cocoa", "coconut", "cassava"],
    }
)

result = df.with_columns(
    pl.col("fruit").str.len_bytes().alias("byte_count"),
    pl.col("fruit").str.len_chars().alias("letter_count"),
)
print(result)

shape: (4, 4)
┌──────────┬─────────┬────────────┬──────────────┐
│ language ┆ fruit   ┆ byte_count ┆ letter_count │
│ ---      ┆ ---     ┆ ---        ┆ ---          │
│ str      ┆ str     ┆ u32        ┆ u32          │
╞══════════╪═════════╪════════════╪══════════════╡
│ English  ┆ pear    ┆ 4          ┆ 4            │
│ Yoruba   ┆ cocoa   ┆ 5          ┆ 5            │
│ Igbo     ┆ coconut ┆ 7          ┆ 7            │
│ Hausa    ┆ cassava ┆ 7          ┆ 7            │
└──────────┴─────────┴────────────┴──────────────┘

In [12]:
result = df.select(
    pl.col("fruit"),
    pl.col("fruit").str.starts_with("p").alias("starts_with_p"),
    pl.col("fruit").str.contains("c..a").alias("c..a"),
    pl.col("fruit").str.contains("c..o").alias("c..o"),
    pl.col("fruit").str.ends_with("a").alias("ends_with_a"),
)
print(result)

shape: (4, 5)
┌─────────┬───────────────┬───────┬───────┬─────────────┐
│ fruit   ┆ starts_with_p ┆ c..a  ┆ c..o  ┆ ends_with_a │
│ ---     ┆ ---           ┆ ---   ┆ ---   ┆ ---         │
│ str     ┆ bool          ┆ bool  ┆ bool  ┆ bool        │
╞═════════╪═══════════════╪═══════╪═══════╪═════════════╡
│ pear    ┆ true          ┆ false ┆ false ┆ false       │
│ cocoa   ┆ false         ┆ false ┆ true  ┆ true        │
│ coconut ┆ false         ┆ false ┆ true  ┆ false       │
│ cassava ┆ false         ┆ false ┆ false ┆ true        │
└─────────┴───────────────┴───────┴───────┴─────────────┘

# Regex Specification

In [14]:
df = pl.DataFrame(
    {
        "urls": [
            "http://vote.com/ballon_dor?candidate=messi&ref=polars",
            "http://vote.com/ballon_dor?candidat=jorginho&ref=polars",
            "http://vote.com/ballon_dor?candidate=ronaldo&ref=polars",
        ]
    }
)
result = df.select(
    pl.col("urls").str.extract(r"candidate=(\w+)", group_index=1),
)
print(result)

shape: (3, 1)
┌─────────┐
│ urls    │
│ ---     │
│ str     │
╞═════════╡
│ messi   │
│ null    │
│ ronaldo │
└─────────┘

In [15]:
df = pl.DataFrame({"text": ["123 bla 45 asd", "xyz 678 910t"]})
result = df.select(
    pl.col("text").str.extract_all(r"(\d+)").alias("extracted_nrs"),
)
print(result)

shape: (2, 1)
┌────────────────┐
│ extracted_nrs  │
│ ---            │
│ list[str]      │
╞════════════════╡
│ ["123", "45"]  │
│ ["678", "910"] │
└────────────────┘

In [17]:
df = pl.DataFrame({"text": ["456xyz", "xyz789"]})
result = df.with_columns(
    pl.col("text").str.replace(r"\d", "-"),
    pl.col("text").str.replace_all(r"\d", "-").alias("text_replace_all"),
)
print(result)

shape: (2, 2)
┌────────┬──────────────────┐
│ text   ┆ text_replace_all │
│ ---    ┆ ---              │
│ str    ┆ str              │
╞════════╪══════════════════╡
│ -56xyz ┆ ---xyz           │
│ xyz-89 ┆ xyz---           │
└────────┴──────────────────┘

# Modifying strings

In [18]:
addresses = pl.DataFrame(
    {
        "addresses": [
            "128 FCT RD st",
            "Rose blVD, 158",
            "PoLaRs Av, 12",
            "1042 Query sq",
        ]
    }
)

addresses = addresses.select(
    pl.col("addresses").alias("originals"),
    pl.col("addresses").str.to_titlecase(),
    pl.col("addresses").str.to_lowercase().alias("lower"),
    pl.col("addresses").str.to_uppercase().alias("upper"),
)
print(addresses)

shape: (4, 4)
┌────────────────┬────────────────┬────────────────┬────────────────┐
│ originals      ┆ addresses      ┆ lower          ┆ upper          │
│ ---            ┆ ---            ┆ ---            ┆ ---            │
│ str            ┆ str            ┆ str            ┆ str            │
╞════════════════╪════════════════╪════════════════╪════════════════╡
│ 128 FCT RD st  ┆ 128 Fct Rd St  ┆ 128 fct rd st  ┆ 128 FCT RD ST  │
│ Rose blVD, 158 ┆ Rose Blvd, 158 ┆ rose blvd, 158 ┆ ROSE BLVD, 158 │
│ PoLaRs Av, 12  ┆ Polars Av, 12  ┆ polars av, 12  ┆ POLARS AV, 12  │
│ 1042 Query sq  ┆ 1042 Query Sq  ┆ 1042 query sq  ┆ 1042 QUERY SQ  │
└────────────────┴────────────────┴────────────────┴────────────────┘

In [19]:
addr = pl.col("addresses")
chars = ", 0123456789"
result = addresses.select(
    addr.str.strip_chars(chars).alias("strip"),
    addr.str.strip_chars_end(chars).alias("end"),
    addr.str.strip_chars_start(chars).alias("start"),
    addr.str.strip_prefix("128 ").alias("prefix"),
    addr.str.strip_suffix(", 158").alias("suffix"),
)
print(result)

shape: (4, 5)
┌───────────┬───────────────┬────────────────┬────────────────┬───────────────┐
│ strip     ┆ end           ┆ start          ┆ prefix         ┆ suffix        │
│ ---       ┆ ---           ┆ ---            ┆ ---            ┆ ---           │
│ str       ┆ str           ┆ str            ┆ str            ┆ str           │
╞═══════════╪═══════════════╪════════════════╪════════════════╪═══════════════╡
│ Fct Rd St ┆ 128 Fct Rd St ┆ Fct Rd St      ┆ Fct Rd St      ┆ 128 Fct Rd St │
│ Rose Blvd ┆ Rose Blvd     ┆ Rose Blvd, 158 ┆ Rose Blvd, 158 ┆ Rose Blvd     │
│ Polars Av ┆ Polars Av     ┆ Polars Av, 12  ┆ Polars Av, 12  ┆ Polars Av, 12 │
│ Query Sq  ┆ 1042 Query Sq ┆ Query Sq       ┆ 1042 Query Sq  ┆ 1042 Query Sq │
└───────────┴───────────────┴────────────────┴────────────────┴───────────────┘

In [20]:
df = pl.DataFrame(
    {
        "fruits": ["pear", "mango", "goodfruit", "badfruit"],
        "n": [1, -1, 4, -4],
    }
)

result = df.with_columns(
    pl.col("fruits").str.slice(pl.col("n")).alias("slice"),
    pl.col("fruits").str.head(pl.col("n")).alias("head"),
    pl.col("fruits").str.tail(pl.col("n")).alias("tail"),
)
print(result)

shape: (4, 5)
┌───────────┬─────┬───────┬──────┬──────┐
│ fruits    ┆ n   ┆ slice ┆ head ┆ tail │
│ ---       ┆ --- ┆ ---   ┆ ---  ┆ ---  │
│ str       ┆ i64 ┆ str   ┆ str  ┆ str  │
╞═══════════╪═════╪═══════╪══════╪══════╡
│ pear      ┆ 1   ┆ ear   ┆ p    ┆ r    │
│ mango     ┆ -1  ┆ o     ┆ mang ┆ ango │
│ goodfruit ┆ 4   ┆ fruit ┆ good ┆ ruit │
│ badfruit  ┆ -4  ┆ ruit  ┆ badf ┆ ruit │
└───────────┴─────┴───────┴──────┴──────┘

# Lists and Arrays in Polars

In [22]:
from datetime import datetime
import polars as pl

df = pl.DataFrame(
    {
        "names": [
            ["Anne", "Abraham", "Adams"],
            ["Bisola", "Bukky", "Biodun", "Benjamin"],
            ["Chukudi", "Chime"],
            ["Dayo", "Doyin"],
        ],
        "children_ages": [
            [5, 7],
            [],
            [],
            [8, 11, 18],
        ],
        "medical_appointments": [
            [],
            [],
            [],
            [datetime(2024, 5, 22, 16, 30)],
        ],
    }
)

print(df)

shape: (4, 3)
┌─────────────────────────────────┬───────────────┬───────────────────────┐
│ names                           ┆ children_ages ┆ medical_appointments  │
│ ---                             ┆ ---           ┆ ---                   │
│ list[str]                       ┆ list[i64]     ┆ list[datetime[μs]]    │
╞═════════════════════════════════╪═══════════════╪═══════════════════════╡
│ ["Anne", "Abraham", "Adams"]    ┆ [5, 7]        ┆ []                    │
│ ["Bisola", "Bukky", … "Benjami… ┆ []            ┆ []                    │
│ ["Chukudi", "Chime"]            ┆ []            ┆ []                    │
│ ["Dayo", "Doyin"]               ┆ [8, 11, 18]   ┆ [2024-05-22 16:30:00] │
└─────────────────────────────────┴───────────────┴───────────────────────┘

# The Data type Array !!!

In [23]:
df = pl.DataFrame(
    {
        "bit_flags": [
            [True, True, True, True, False],
            [False, True, True, True, True],
        ],
        "tic_tac_toe": [
            [
                [" ", "x", "o"],
                [" ", "x", " "],
                ["o", "x", " "],
            ],
            [
                ["o", "x", "x"],
                [" ", "o", "x"],
                [" ", " ", "o"],
            ],
        ],
    },
    schema={
        "bit_flags": pl.Array(pl.Boolean, 5),
        "tic_tac_toe": pl.Array(pl.String, (3, 3)),
    },
)

print(df)

shape: (2, 2)
┌───────────────────────┬─────────────────────────────────┐
│ bit_flags             ┆ tic_tac_toe                     │
│ ---                   ┆ ---                             │
│ array[bool, 5]        ┆ array[str, (3, 3)]              │
╞═══════════════════════╪═════════════════════════════════╡
│ [true, true, … false] ┆ [[" ", "x", "o"], [" ", "x", "… │
│ [false, true, … true] ┆ [["o", "x", "x"], [" ", "o", "… │
└───────────────────────┴─────────────────────────────────┘

In [25]:
import numpy as np

array = np.arange(0, 120).reshape((5, 2, 3, 4))  # 4D array

print(pl.Series(array).dtype)  # Column with the 3D subarrays

Array(Int32, shape=(2, 3, 4))

In [26]:
weather = pl.DataFrame(
    {
        "station": [f"Station {idx}" for idx in range(1, 6)],
        "temperatures": [
            "20 5 5 E1 7 13 19 9 6 20",
            "18 8 16 11 23 E2 8 E2 E2 E2 90 70 40",
            "19 24 E9 16 6 12 10 22",
            "E2 E0 15 7 8 10 E1 24 17 13 6",
            "14 8 E0 16 22 24 E1",
        ],
    }
)

print(weather)

shape: (5, 2)
┌───────────┬─────────────────────────────────┐
│ station   ┆ temperatures                    │
│ ---       ┆ ---                             │
│ str       ┆ str                             │
╞═══════════╪═════════════════════════════════╡
│ Station 1 ┆ 20 5 5 E1 7 13 19 9 6 20        │
│ Station 2 ┆ 18 8 16 11 23 E2 8 E2 E2 E2 90… │
│ Station 3 ┆ 19 24 E9 16 6 12 10 22          │
│ Station 4 ┆ E2 E0 15 7 8 10 E1 24 17 13 6   │
│ Station 5 ┆ 14 8 E0 16 22 24 E1             │
└───────────┴─────────────────────────────────┘

In [27]:
weather = weather.with_columns(
    pl.col("temperatures").str.split(" "),
)
print(weather)

shape: (5, 2)
┌───────────┬──────────────────────┐
│ station   ┆ temperatures         │
│ ---       ┆ ---                  │
│ str       ┆ list[str]            │
╞═══════════╪══════════════════════╡
│ Station 1 ┆ ["20", "5", … "20"]  │
│ Station 2 ┆ ["18", "8", … "40"]  │
│ Station 3 ┆ ["19", "24", … "22"] │
│ Station 4 ┆ ["E2", "E0", … "6"]  │
│ Station 5 ┆ ["14", "8", … "E1"]  │
└───────────┴──────────────────────┘

In [28]:
result = weather.explode("temperatures")
print(result)

shape: (49, 2)
┌───────────┬──────────────┐
│ station   ┆ temperatures │
│ ---       ┆ ---          │
│ str       ┆ str          │
╞═══════════╪══════════════╡
│ Station 1 ┆ 20           │
│ Station 1 ┆ 5            │
│ Station 1 ┆ 5            │
│ Station 1 ┆ E1           │
│ Station 1 ┆ 7            │
│ …         ┆ …            │
│ Station 5 ┆ E0           │
│ Station 5 ┆ 16           │
│ Station 5 ┆ 22           │
│ Station 5 ┆ 24           │
│ Station 5 ┆ E1           │
└───────────┴──────────────┘

In [33]:
result = weather.with_columns(
    pl.col("temperatures").list.head(3).alias("head_temp_value"),
    pl.col("temperatures").list.tail(3).alias("tail_temp_value"),
    pl.col("temperatures").list.slice(-4, 2).alias("two_next_to_middle")
)
print(result)

shape: (5, 5)
┌───────────┬──────────────────────┬────────────────────┬────────────────────┬────────────────────┐
│ station   ┆ temperatures         ┆ head_temp_value    ┆ tail_temp_value    ┆ two_next_to_middle │
│ ---       ┆ ---                  ┆ ---                ┆ ---                ┆ ---                │
│ str       ┆ list[str]            ┆ list[str]          ┆ list[str]          ┆ list[str]          │
╞═══════════╪══════════════════════╪════════════════════╪════════════════════╪════════════════════╡
│ Station 1 ┆ ["20", "5", … "20"]  ┆ ["20", "5", "5"]   ┆ ["9", "6", "20"]   ┆ ["19", "9"]        │
│ Station 2 ┆ ["18", "8", … "40"]  ┆ ["18", "8", "16"]  ┆ ["90", "70", "40"] ┆ ["E2", "90"]       │
│ Station 3 ┆ ["19", "24", … "22"] ┆ ["19", "24", "E9"] ┆ ["12", "10", "22"] ┆ ["6", "12"]        │
│ Station 4 ┆ ["E2", "E0", … "6"]  ┆ ["E2", "E0", "15"] ┆ ["17", "13", "6"]  ┆ ["24", "17"]       │
│ Station 5 ┆ ["14", "8", … "E1"]  ┆ ["14", "8", "E0"]  ┆ ["22", "24", "E1"] ┆ ["16", "22"]       │
└───────────┴──────────────────────┴────────────────────┴────────────────────┴────────────────────┘

In [34]:
result = weather.with_columns(
    pl.col("temperatures")
    .list.eval(pl.element().cast(pl.Int64, strict=False).is_null())
    .list.sum()
    .alias("errors"),
)
print(result)

shape: (5, 3)
┌───────────┬──────────────────────┬────────┐
│ station   ┆ temperatures         ┆ errors │
│ ---       ┆ ---                  ┆ ---    │
│ str       ┆ list[str]            ┆ u32    │
╞═══════════╪══════════════════════╪════════╡
│ Station 1 ┆ ["20", "5", … "20"]  ┆ 1      │
│ Station 2 ┆ ["18", "8", … "40"]  ┆ 4      │
│ Station 3 ┆ ["19", "24", … "22"] ┆ 1      │
│ Station 4 ┆ ["E2", "E0", … "6"]  ┆ 3      │
│ Station 5 ┆ ["14", "8", … "E1"]  ┆ 2      │
└───────────┴──────────────────────┴────────┘

In [35]:
result2 = weather.with_columns(
    pl.col("temperatures")
    .list.eval(pl.element().str.contains("(?i)[a-z]"))
    .list.sum()
    .alias("errors"),
)
print(result.equals(result2))

True

In [36]:
weather_by_day = pl.DataFrame(
    {
        "station": [f"Station {idx}" for idx in range(1, 11)],
        "day_1": [17, 11, 8, 22, 9, 21, 20, 8, 8, 17],
        "day_2": [15, 11, 10, 8, 7, 14, 18, 21, 15, 13],
        "day_3": [16, 15, 24, 24, 8, 23, 19, 23, 16, 10],
    }
)
print(weather_by_day)

shape: (10, 4)
┌────────────┬───────┬───────┬───────┐
│ station    ┆ day_1 ┆ day_2 ┆ day_3 │
│ ---        ┆ ---   ┆ ---   ┆ ---   │
│ str        ┆ i64   ┆ i64   ┆ i64   │
╞════════════╪═══════╪═══════╪═══════╡
│ Station 1  ┆ 17    ┆ 15    ┆ 16    │
│ Station 2  ┆ 11    ┆ 11    ┆ 15    │
│ Station 3  ┆ 8     ┆ 10    ┆ 24    │
│ Station 4  ┆ 22    ┆ 8     ┆ 24    │
│ Station 5  ┆ 9     ┆ 7     ┆ 8     │
│ Station 6  ┆ 21    ┆ 14    ┆ 23    │
│ Station 7  ┆ 20    ┆ 18    ┆ 19    │
│ Station 8  ┆ 8     ┆ 21    ┆ 23    │
│ Station 9  ┆ 8     ┆ 15    ┆ 16    │
│ Station 10 ┆ 17    ┆ 13    ┆ 10    │
└────────────┴───────┴───────┴───────┘

In [38]:
weather_by_day.describe()

shape: (9, 5)
┌────────────┬───────────┬──────────┬──────────┬─────────┐
│ statistic  ┆ station   ┆ day_1    ┆ day_2    ┆ day_3   │
│ ---        ┆ ---       ┆ ---      ┆ ---      ┆ ---     │
│ str        ┆ str       ┆ f64      ┆ f64      ┆ f64     │
╞════════════╪═══════════╪══════════╪══════════╪═════════╡
│ count      ┆ 10        ┆ 10.0     ┆ 10.0     ┆ 10.0    │
│ null_count ┆ 0         ┆ 0.0      ┆ 0.0      ┆ 0.0     │
│ mean       ┆ null      ┆ 14.1     ┆ 13.2     ┆ 17.8    │
│ std        ┆ null      ┆ 5.858517 ┆ 4.366539 ┆ 5.80804 │
│ min        ┆ Station 1 ┆ 8.0      ┆ 7.0      ┆ 8.0     │
│ 25%        ┆ null      ┆ 8.0      ┆ 10.0     ┆ 15.0    │
│ 50%        ┆ null      ┆ 17.0     ┆ 14.0     ┆ 19.0    │
│ 75%        ┆ null      ┆ 20.0     ┆ 15.0     ┆ 23.0    │
│ max        ┆ Station 9 ┆ 22.0     ┆ 21.0     ┆ 24.0    │
└────────────┴───────────┴──────────┴──────────┴─────────┘

In [39]:
rank_pct = (pl.element().rank(descending=True) / pl.all().count()).round(2)

result = weather_by_day.with_columns(
    # create the list of homogeneous data
    pl.concat_list(pl.all().exclude("station")).alias("all_temps")
).select(
    # select all columns except the intermediate list
    pl.all().exclude("all_temps"),
    # compute the rank by calling `list.eval`
    pl.col("all_temps").list.eval(rank_pct, parallel=True).alias("temps_rank"),
)

print(result)

shape: (10, 5)
┌────────────┬───────┬───────┬───────┬────────────────────┐
│ station    ┆ day_1 ┆ day_2 ┆ day_3 ┆ temps_rank         │
│ ---        ┆ ---   ┆ ---   ┆ ---   ┆ ---                │
│ str        ┆ i64   ┆ i64   ┆ i64   ┆ list[f64]          │
╞════════════╪═══════╪═══════╪═══════╪════════════════════╡
│ Station 1  ┆ 17    ┆ 15    ┆ 16    ┆ [0.33, 1.0, 0.67]  │
│ Station 2  ┆ 11    ┆ 11    ┆ 15    ┆ [0.83, 0.83, 0.33] │
│ Station 3  ┆ 8     ┆ 10    ┆ 24    ┆ [1.0, 0.67, 0.33]  │
│ Station 4  ┆ 22    ┆ 8     ┆ 24    ┆ [0.67, 1.0, 0.33]  │
│ Station 5  ┆ 9     ┆ 7     ┆ 8     ┆ [0.33, 1.0, 0.67]  │
│ Station 6  ┆ 21    ┆ 14    ┆ 23    ┆ [0.67, 1.0, 0.33]  │
│ Station 7  ┆ 20    ┆ 18    ┆ 19    ┆ [0.33, 1.0, 0.67]  │
│ Station 8  ┆ 8     ┆ 21    ┆ 23    ┆ [1.0, 0.67, 0.33]  │
│ Station 9  ┆ 8     ┆ 15    ┆ 16    ┆ [1.0, 0.67, 0.33]  │
│ Station 10 ┆ 17    ┆ 13    ┆ 10    ┆ [0.33, 0.67, 1.0]  │
└────────────┴───────┴───────┴───────┴────────────────────┘

In [40]:
df = pl.DataFrame(
    {
        "first_last": [
            ["Anne", "Adams"],
            ["Biola", "Bukky"],
            ["Chukudi", "Chima"],
            ["Dayo", "Doyin"],
        ],
        "fav_numbers": [
            [42, 0, 1],
            [2, 3, 5],
            [13, 21, 34],
            [73, 3, 7],
        ],
    },
    schema={
        "first_last": pl.Array(pl.String, 2),
        "fav_numbers": pl.Array(pl.Int32, 3),
    },
)

result = df.select(
    pl.col("first_last").arr.join(" ").alias("name"),
    pl.col("fav_numbers").arr.sort(),
    pl.col("fav_numbers").arr.max().alias("largest_fav"),
    pl.col("fav_numbers").arr.sum().alias("summed"),
    pl.col("fav_numbers").arr.contains(3).alias("likes_3"),
)
print(result)

shape: (4, 5)
┌───────────────┬───────────────┬─────────────┬────────┬─────────┐
│ name          ┆ fav_numbers   ┆ largest_fav ┆ summed ┆ likes_3 │
│ ---           ┆ ---           ┆ ---         ┆ ---    ┆ ---     │
│ str           ┆ array[i32, 3] ┆ i32         ┆ i32    ┆ bool    │
╞═══════════════╪═══════════════╪═════════════╪════════╪═════════╡
│ Anne Adams    ┆ [0, 1, 42]    ┆ 42          ┆ 43     ┆ false   │
│ Biola Bukky   ┆ [2, 3, 5]     ┆ 5           ┆ 10     ┆ true    │
│ Chukudi Chima ┆ [13, 21, 34]  ┆ 34          ┆ 68     ┆ false   │
│ Dayo Doyin    ┆ [3, 7, 73]    ┆ 73          ┆ 83     ┆ true    │
└───────────────┴───────────────┴─────────────┴────────┴─────────┘

# Data Type